{% extends 'base.html.twig' %}

{% block title %}Hello RecruteurController!{% endblock %}

{% block body %}
 
<div class="frame"></div>
<style>
.frame {
  height: 90vh;
  width: 100%;
  margin: 5vh 5vw;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  
  animation: image 3s infinite alternate;
}

@keyframes image {
  0% {
    background-image: url('https://www.anthedesign.fr/w2015/wp-content/uploads/2014/02/emploi-sur-internet.jpg');
  }
  100% {
    background-image: url('https://www.lesmotspositifs.com/wp-content/uploads/2019/08/emploi_de_reve_citation.jpg');
  }
}
</style>
 <div id="container">
 
    
    <!-- Each image is 200px by 200px -->
    <div class="photobanner">
    	<img class="first" src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://pbs.twimg.com/profile_images/943414229243179008/JlhIxNlN_400x400.jpg" alt="" />
    	<img src="https://pbs.twimg.com/profile_images/324953065/JitLogoSloganBgVert1.jpg" alt="" />
    	<img src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://placeimg.com/200/200/tech" alt="" />
    	<img src="https://placeimg.com/200/200/car" alt="" />
    </div>
</div>

<style>
* {margin: 0; padding: 0;}


#container {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
	background: red;
}

/*header*/
header {
	width: 800px;
	margin: 40px auto;
}



/*photobanner*/

.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 40s linear infinite;
	   -moz-animation: bannermove 40s linear infinite;
	    -ms-animation: bannermove 40s linear infinite;
	     -o-animation: bannermove 40s linear infinite;
	        animation: bannermove 40s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -1250px;
 }

}



@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1250px;
 }

}




</style>



         

       

    <section id="about">
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">About Us</p>
          <h2> Votre nouveau travail commence ici.</h2>
          <p>
             

Hé, vous méritez une chance de trouver un bon travail. Pour améliorer votre situation. Maintenant, peut-être que vous avez déjà essayé des agences de recrutements. Mais ici c’est différent. Nous avons des centaines d’emplois à travers le pays. Et vous avez juste besoin d’un bon. Alors qu’est-ce que vous attendez? Trouvez-le aujourd’hui et commencez à travailler!

          </p>
        </div>
        <div class="about-img">
          <img src="https://media.gettyimages.com/vectors/job-search-and-interview-standing-in-a-row-of-job-seekers-vector-id1169300752?s=612x612" alt="emplois" />
        </div>
      </div>
    </section>
<div class="wrapper">
	<div class="photobanner">
  <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxvbLYqn7UGwTgOHlcgctIfqTl_Dr7XKl5ng&usqp=CAU" alt="" />
  <img src="https://www.mediavox.com/uploads/l/201611161500565598249.jpg " alt="" />
  <img src="https://www.mediavox.com/uploads/l/201804180950123867617.jpg " alt =""/>
  <img src="https://i2.wp.com/www.recruter.tn/wp-content/uploads/2021/10/emplois_recruter_-Enregistrement-automatique-51.jpg?resize=840%2C430&ssl=1" alt="" />
  <img src="https://f.hellowork.com/helloworkplace/2020/12/lecons-publicitaire-bien-rediger-annonce-emploi.jpg " alt="" />
  <img src="https://cleversms.fr/wp-content/uploads/2017/01/Stop-par-SMS.jpg" alt="" />
  <img src="https://www.tourmag.com/photo/art/grande/50975673-39224881.jpg?v=1603879559" alt="" />
  <img src="https://blog.flatchr.io/hs-fs/hubfs/11-min.png?width=504&name=11-min.png" alt="" />
  <img src=" https://thumbs.dreamstime.com/z/travailleur-de-travail-travaux-d-affiche-la-publicit%C3%A9-demande-emploi-pour-les-sur-un-mur-142665579.jpg" />
  <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
</div>
</div>
<style>
	.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: relative;
	height: 233px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
}

.photobanner img {
  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -2700px;
  }
}





	
    }
}






  


 
    <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('js/jquery-3.5.1.slim.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js')}}"></script>

    <script src="{{ asset('js/index.js')}}"></script>











<style>
/* ......//about us//...... */

#about {
  padding: 50px 0;
  background: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

</style>

<h1 style="color:green;text-align:center;">les types des offres d'emplois</h1>



  </div>
</div>
<div class="div-categoryContainer">
 <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg" class="picture-left">
  <div class="paragraph-right">
    <h2 style="color:red;">Recrutement de 1000 Commerciaux terrain</h2>
    <p>L'agence emploi jeunes procède au recrutement de 1000

     agents commerciaux terrain pour un contrat stage pré-emploi.
      L'activité s’effectuera sur toute 
    l’étendue du territoire.  Les candidatures…
    </p>
      <a href="#" class="btn btn-primary">envoyer à un ami</a>
  </div>
</div>
 <br></br>
 <div class="div-categoryContainer">
 <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg" class="picture-left">
  <div class="paragraph-right">
    <h2 style="color:red;">Recrutement de 10 assistants Ressources Humaines</h2>
    <p>

    L'agence emploi jeunes procède au recrutement de 10  Assistant Ressources
     Humaines pour un contrat stage-école. L'activité s’effectuera à Abengourou. 
     Les candidatures masculines et féminines 
    </p>
      <a href="#" class="btn btn-primary">envoyer à un ami</a>
  </div>
</div>
<br></br>
 <div class="div-categoryContainer">
 <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg" class="picture-left">
  <div class="paragraph-right">
    <h2 style="color:red;">Recrutement de 03 Auxiliaires en Pharmacie </h2>
    <p>L'agence emploi jeunes procède au recrutement de 03  Auxiliaire en Pharmacie pour un contrat stage-école. L'activité s’effectuera à Niakara.
      Les candidatures masculines et féminines sont acceptées
    </p>
      <a href="#" class="btn btn-primary">envoyer à un ami</a>
  </div>
</div>
<div class="profile-userbuttons">
        <a href="{{path('contact')}}" > <button type="button" class="btn btn-danger btn-sm">voir toutes les offres</button></a>
      </div>






 

<style>
.picture-left{
    float: left;
}
 
.div-categoryContainer{
    padding: 10px;
}
 
.paragraph-right {
  margin-top : 50px;

}

</style>




 {% endblock %}

   





























