<h2 class="text-capitalize" >Commentaires <span >{{traiteurs.getCommentaire.count}}</span></h2>

                {% if is_granted('ROLE_USER') %}
                <form action="{{path('comment_add4')}}" method="post">
                <div>
                        <div class="form-group">
                            <textarea type="text" placeholder="Ajouter votre commentaire" rows="5" cols="20" name="_comment" id="comment" required class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" id="login" name="login">
                                Valider
                            </button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
                        <input type="hidden" name="post_id" value="{{traiteurs.id}}">
                    </div>
                </form>
                <hr>
                {% else %}
                    <a href="{{path('app_login')}}" class="btn btn-link">Connectez vous pour commenter</a>
                {% endif %}
                <!-- show comments -->
                {% for commentaire in traiteurs.getCommentaire %}
                <div class="media mt-3">
                    <div class="media-body">
                        <span class="comment-username">{{commentaire.user.nom}} {{commentaire.createdAt|date("F jS \a\t g:ia")}}</span>
                        <p class="comment mt-2">{{commentaire.text}}</p>
                    </div>
                    <hr>
                </div>
                </div>

                {% endfor %}
            </div>


        </div>